<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Movie Edge</title>
</head>
<body>
{#{{ table_data|safe }}#}
</body>
<script>
    // https://stackoverflow.com/questions/38654599/django-best-way-to-pass-data-to-javascript
    const tableData = JSON.parse('{{ table_data|safe }}');
    const x_min = tableData['x_min'];
    const x_max = tableData['x_max'];
    const y_min = tableData['y_min'];
    const y_max = tableData['y_max'];
    const data = tableData['data'].map(function(r) {
        r['movie_title'] = decodeURIComponent(r['movie_title']);
        return r
        }
    );
    console.log(data);
</script>
</html>